{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{pageTitle}}</h1>

    {% for post in postArray %}
    <div id="post">
        <img src="{{ post.getFilename() }}">
        <h6>Data dodania: {{ post.getTimestamp() }} </h6>
    </div>
    {% endfor %}
</div>


{% include 'footer.html.twig' %}