{% include 'header.html.twig' %}
<div id="pageContainer">
    <h1>{{ pageTitle|default("Brak tytułu podstrony")}}</h1>
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <label for="uploadedFileInput">
            Wybierz plik do wgrania na serwer:
        </label><br>
        {% if user is defined %}
        <input type="hidden" name="userId" value={{ user.getId() }}>
        {% endif %}
        <input type="file" name="uploadedFile" id="uploadedFileInput" required><br>
        <label for="customName">Tytuł mema</label><input type="text" name="customName" id="customNameInput" required>
        <input type="submit" value="Wyślij plik" name="submit"><br>
    </form>
</div>
{% include 'footer.html.twig' %}